// CONTAINER DIV
.container {
    padding: 0.5rem;
    border-radius: 0.25rem;

    p {
        font-size: 18px;
        color: hsl(211, 10%, 45%);
    }
}

// WRAPPER DIV
.wrapper {
    background-color: white;
    margin-bottom: 1.5rem;
    padding: 1.25rem;
    border-radius: 0.25rem;
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "user user"
        "content content"
        "btn replyBtn";

}

// USER DIV
.user {
    grid-area: user;
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
        width: 34px;
    }
}

// CONTENT DIV
.content {
    grid-area: content;
}

// BUTTON DIV
.btn {
    grid-area: btn;
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.50rem 0.25rem;
    border-radius: 0.5rem;
    background-color: hsl(223, 19%, 93%);
    color: hsl(238, 40%, 52%);
    cursor: pointer;
}

// REPLY BUTTON DIV
.replyBtn {
    grid-area: replyBtn;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 100px;
    cursor: pointer;

    p {
        color: hsl(238, 40%, 52%);
        font-weight: 500;
    }
}

// REPLIES DIV
.repliesContainer {
    padding-left: 2rem;
    border-left: 2px solid hsl(223, 19%, 93%);
}

span {
    cursor: pointer;
    color: hsl(238, 40%, 52%);
    font-weight: 700;
}